#[include shell_command.cfg]
[include mainsail.cfg]

# This file contains pin mappings for the Anycubic Kobra Go/Neo
#   with HC32F460.
# Most parameter came from the stock Marlin firmware
# Config credit: xpeng

# See docs/Config_Reference.md for a description of parameters.

#[include fluidd.cfg]
[include gcode.cfg]
#[include extras.cfg]
#[include mpu6500.cfg]

[stepper_x]
step_pin: PA12
dir_pin: PA11
enable_pin: !PA15
microsteps: 16
rotation_distance: 40
position_endstop: -7
position_min: -7
position_max: 220
homing_speed: 60
endstop_pin: !PH2
homing_retract_dist: 0
homing_positive_dir: false

[stepper_y]
step_pin: PA9
dir_pin: PA8
enable_pin: !PA15
microsteps: 16
rotation_distance: 40
position_endstop: -17
position_min:-17
position_max: 220
homing_speed: 60
endstop_pin: ^!PC13
homing_retract_dist: 0
homing_positive_dir: false


[stepper_z]
step_pin: PC7
dir_pin: !PC6
enable_pin: !PA15
microsteps: 16
rotation_distance: 8
endstop_pin: ^PC14
position_min: -2
position_max: 245
#position_endstop: 0
homing_speed: 5
second_homing_speed:1
homing_retract_dist: 2.3
homing_positive_dir: false


[safe_z_home]
home_xy_position: 0, 0
speed: 65
z_hop: 5  
z_hop_speed: 10

[extruder]
max_extrude_only_distance: 100.0
step_pin: PB15
dir_pin: !PB14
enable_pin: !PA15
microsteps: 16
rotation_distance: 7.938
nozzle_diameter: 0.600
filament_diameter: 1.750
heater_pin: PB8
#sensor_type: Generic 3950
sensor_type: ATC Semitec 104GT-2
sensor_pin: PC3
min_temp: 5
min_extrude_temp: 5
max_temp: 260 #Stock is 250
smooth_time: 0.5
pressure_advance: 0.085

[firmware_retraction]
retract_length: 1.0
retract_speed: 60
unretract_extra_length: 0
unretract_speed: 40

[heater_bed]
heater_pin: PB9
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC1
min_temp: 0
max_temp: 120

[bed_mesh]
speed: 400
horizontal_move_z: 7
mesh_min: 32, 26
mesh_max: 189, 189
#mesh_min: 67.5, 20
#mesh_max: 179, 159
probe_count: 5, 5
relative_reference_index: 13
algorithm: lagrange

[screws_tilt_adjust]
screw1: -6, 24
screw1_name: front left screw
screw2: 157, 24
screw2_name: front right screw
screw3: 157, 188
screw3_name: rear right screw
screw4: -6, 188
screw4_name: rear left screw
horizontal_move_z: 10.
speed: 50.
screw_thread: CW-M4

[probe]
pin: PA1
x_offset: 37.5
y_offset: -4
#y_offset: -17
#z_offset: 0
samples: 6
samples_result: average
samples_tolerance: 0.03
samples_tolerance_retries: 6
sample_retract_dist: 0.5
speed:1
lift_speed:4

[controller_fan controller_fan]
max_power: 0.75
pin: PB12

[heater_fan extruder_fan]
pin: PB13

[fan]
pin: PB5
#pin: PB9 at Kobra

[output_pin enable_pin]
#This is the pin controls bed, hotend, extruder fan, part fan.
pin: PB6
static_value: 1

#[output_pin beeper]
#pin: PB7

[output_pin bl_pin]
pin: PC0

#[output_pin tft_rst]
#pin: PB4

[idle_timeout]
timeout: 600

[mcu]
serial: /dev/serial/by-id/usb-1a86_USB_Serial-if00-port0
restart_method: command

[printer]
kinematics: cartesian
max_velocity: 500
# max_accel: 3500
max_accel: 2000
# max_accel_to_decel: 2000
max_z_velocity: 20
max_z_accel: 20

# The following section is about using two(!) ADXL345 at one RPi Pico for Input Shaping. 
# Uncomment it if you want to use it - only do it when the Pico is connected tho, otherwise Klipper wouldn't start due to the missing serial device. 
# I personally moved this section to its own .cfg-file as it's easier to comment/uncomment just one line here. If you wanna do that, create a file e.g. ADXL345Pico.cfg and then copy&paste the following setcion into it.  
# Then add the line [include ADXL345Pico.cfg] at the beginning of this printer.cfg file.  

# [mcu pico_adxl345]
# serial: /dev/serial/by-id/usb-Klipper_rp2040_E6614C311B6FA033-if00

## [output_pin power_mode] -> untested, but it's supposed to force the Pico's power source to go into high-performance mode rather than power saving mode as it seems that the 3.3V line of the Pico is pretty noisy which leads to higher noise values on the ADXL measurements as well.
## pin: adxl:gpio23

# [adxl345 head]
# cs_pin: pico_adxl345:gpio1
# spi_bus: spi0a
# axes_map: -z, x, -y #update your axes mapping

# [adxl345 bed]
# cs_pin: pico_adxl345:gpio9
# spi_bus: spi1a

# [resonance_tester]
# probe_points: 110, 110, 25 #update your position
# accel_chip_x: adxl345 head
# accel_chip_y: adxl345 bed


#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 21.584
#*# pid_ki = 1.142
#*# pid_kd = 101.983
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 63.239
#*# pid_ki = 0.905
#*# pid_kd = 1105.099
#*#
#*# [stepper_z]
#*# position_endstop = 2.695
#*#
#*# [input_shaper]
#*# shaper_type_x = mzv
#*# shaper_freq_x = 109.8
#*# shaper_type_y = mzv
#*# shaper_freq_y = 54.8
#*#
#*# [probe]
#*# z_offset = 1.481
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  -0.037083, -0.034583, -0.013750, -0.039167, -0.015833
#*# 	  0.014167, 0.010833, 0.039583, 0.031250, 0.050000
#*# 	  0.030833, -0.030000, -0.002500, 0.000000, 0.040000
#*# 	  -0.010417, -0.032083, 0.008750, 0.004583, 0.036667
#*# 	  -0.008750, -0.012917, -0.030000, -0.057500, 0.039583
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 32.0
#*# max_x = 189.0
#*# min_y = 26.0
#*# max_y = 189.0
