# You need to add a certain command to your slicers start and end g-code section, so that the following macros will be loaded.  
# When using CURA, add this line to your start g-code section: START_PRINT BED_TEMP={material_bed_temperature_layer_0} EXTRUDER_TEMP={material_print_temperature_layer_0}
# When using PRUSASLICER or SUPERSLICER, add this line to your start g-code section: START_PRINT BED_TEMP=[first_layer_bed_temperature] EXTRUDER_TEMP=[first_layer_temperature]
# In the end g-code section of all of the abovemntioned slicers, just add this line: END_PRINT


[gcode_macro START_PRINT]
gcode:
    {% set BED_TEMP = params.BED_TEMP|default(60)|float %}
    {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(200)|float %}
    # Start bed heating
    M140 S{BED_TEMP}
    G21 ;metric values
    G90 ;absolute positioning
    M82 ;set extruder to absolute mode
    M107 ;start with the fan off
    M117 Homing X/Y ...
    G28 X0 Y0 ; move X/Y to min endstops
    M117 Homing Z ...
    G28 Z0 ;move Z to min endstops
    G1 Z15.0 F240 ;move the platform down 15mm
    M117 waiting for BED to reach temperature
     M190 S{BED_TEMP}
    # Set and wait for nozzle to reach temperature
    M117 waiting for EXTRUDER to reach temperature
    M109 S{EXTRUDER_TEMP}
    BED_MESH_PROFILE LOAD=default1
    G92 E0 ; zero the extruded length
    M117 Intro line ...
    G1 Z2.0 F3000 ; Move Z Axis up little to prevent scratching of Heat Bed
    G1 X0.1 Y20 Z0.2 F1500.0 ; Move to start position
    G1 X0.1 Y200.0 Z0.2 F1500.0 E15 ; Draw the first line
    G1 X0.4 Y200.0 Z0.2 F1500.0 ; Move to side a little
    G1 X0.4 Y20 Z0.2 F1500.0 E30 ; Draw the second line
    G92 E0 ; Reset Extruder
    G1 X5 Y20 Z0.3 F240 ; Move over and up to prevent blob squish
    G92 E0 ; Reset Extruder
    M117 Printing...
    # Use absolute coordinates
    #G90
    # Reset the G-Code Z offset (adjust Z offset if needed)
    # SET_GCODE_OFFSET Z=0.4
    # Home the printer
    #G28
    # Load *default* bed mesh profile; if using a different name than "default", you have to set the belonging name after LOAD=...
    
    # Move the nozzle near the bed
   # G1 Z5 F3000
    # G1 Z0 F3000    
    # Move the nozzle very close to the bed - I deactivated this for my personal usage
    # G1 Z0.15 F300
    # Wait for bed to reach temperature
   






[gcode_macro OFF]
gcode:
    M84                                  ; turn steppers off
    TURN_OFF_HEATERS                     ; turn bed / hotend off
    M107                                 ; turn print cooling fan off
    #SET_FAN_SPEED FAN=Exhaust SPEED=0   ; turn exhaust fan off
    #SET_FAN_SPEED FAN=BedFans SPEED=0   ; bed fan off
    #SET_PIN PIN=caselight VALUE=0       ; turn case light off





[gcode_macro END_PRINT]
gcode:
    M400 ; Wait for current moves to finish
    M220 S100 ; Reset Speed factor override percentage to default (100%)
    M221 S100 ; Reset Extrude factor override percentage to default (100%)
    G91 ; Set coordinates to relative
    G1 F2400 E-1 ; Retract filament 3mm at 40mm/s to prevent stringing
    G0 F5000 Z20 ; Move Z Axis up 20mm to allow filament ooze freely
    # Turn off bed, extruder, and fan
    M140 S0
    M104 S0
    M106 S0
 
    G90 ; absolute pos
    G1 X5 Y220 F3000 ;clear head and bring bed to the front
    # Disable steppers
    M84 ; Disable stepper motors
    M117 Finished.


[delayed_gcode startup_gcode]
initial_duration: 0.1
gcode:
    G28
     BED_MESH_PROFILE LOAD=default1
    

#[gcode_macro POWER_OFF_PRINTER]
#gcode:
#  {action_call_remote_method(
#    "set_device_power", device="printer", state="off"
#  )}

#[gcode_macro POWER_ON_PRINTER]
#gcode:
#  {action_call_remote_method(
#    "set_device_power", device="printer", state="on"
#  )}